QWidget{
background-color: #212124
}

QPushButton {
background-color: #5998f0;
font-size:  18px;
border-radius: 25px;
/*border-width: 1px;
border-style: solid;
border-color: white;*/
font-family: Arial, Helvetica, sans-serif;
}

QPushButton:hover {
background-color: #8db9f7;

}

QLabel{
background-color: #525252;
color:white;
}

QListWidget{
    background-color: #525252;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

QListWidgetItem{
 color: white;

}

QListWidget::item{
padding:15px;
}

QListWidget::item:selected{
background-color: #5998f0;
}

QComboBox {

    border-radius: 10px;
    background-color:white;

}


QComboBox::item{
    background-color: white;

}

QComboBox::item:selected{
    background-color: #5998f0;
    color:black;
}

QComboBox::drop-down {
border-radius: 10px;
}

QComboBox::down-arrow {
background-color:black;
}

QLabel {
    font-size: 18px;
}

QLabel[objectName^="item_view_label"]{
    border-radius: 10px;
    padding-left: 15px;

}

QLabel[objectName^="select_item_label"]{
    background-color: #212124;
    font-size: 20px;

}

QLineEdit {
    color:grey;
    background-color: white;
    border-radius: 10px;
}
